html body{
    padding: 0;
    margin: 0;
  }
  
  form{
    padding: 25px;
    position: fixed;
  }
  .main{
  
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  
  .inputtext {
      width: 100%;
      height: 45px;
      text-align: center;
      font-size: 15px;
      border: 2px solid indigo;
    }
  
  
  .btn {
      width: 100%;
      height: 45px;
      background-color: indigo;
      color: white;
      border: 0px;
     
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      cursor: pointer;
  }
  .btn:hover {
      background-color: darkblue;
      color: white;
      transition: 1000ms;
      transition-duration: 1500ms;
  }
  .paragraph{
      text-align: justify;
  }
  .second{
    width: 100%;
    height: 100vh;
    background-color: green;
  
  }
  .none{
    display: none;
  }
  #slide,.wrap,.slide-content{
      font-family: Arial, Helvetica, sans-serif;
      width: 100;
      height: 100vh;
      overflow-x: hidden;
  }
  .wrap{position: relative;}
  .slide{
      background-size: cover;
      background-position:center;
      background-repeat: no-repeat
  }
  .slide1{background-image:url('Assets/IMG/126309.svg') }
  .slide2{background-image: url('Assets/IMG/1757f4ce6ba0b6c.jpg')}
  .slide3{background-image:url('Assets/IMG/business-group-meeting-vector_23-2147495190.jpg')}
  .slide4{background-image: url('Assets/IMG/business-partners-vector_23-2147495206.jpg')}
  .slide-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .slide-content span{
      font-size:5rem;
      color: white;
  }
  .arrow{
      cursor: pointer;
      position:absolute;
      top: 50%;
      margin-top: -35px;
      width: 0;
      height: 0;
      border-style: solid;

  }
  #arrow-left{
      border-width: 30px 40px 30px 0;
      border-color: transparent white transparent transparent;
      left: 0; 
      margin-left:30px;
  }
  #arrow-right{
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent white;
    right: 0;
    margin-right:30px;
}
 
  @media all and (max-device-width : 768px) {
  
  }